<footer class="w-100">
    <div class="container-fluid border-gray-200 border-top border-gray-200 p-3">
        <div class="col-md-12">
            <p class="fs-16 text-gray-600 m-3 d-inline-block">{{ "now"|date('Y') }} © Todos os direitos
                reservados.</p>
            <p class="fs-16 text-gray-600 m-3 d-inline-block float-end">Versão dev.: {{ config.version }}</p>
        </div>

    </div>
</footer>
</main>